<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="icon" href="/img/weather.png">

    <title>About</title>
</head>
<body>
<div class="main-content">
    {{>header}}
    <p>This site was created by {{name}}. It uses data from mapbox.com and openweather.com</p>
    <img class="potrait" src="/img/me.jpeg">
</div>

{{>footer}}
</body>
</html>